@charset "utf-8";
/* CSS Document */
body{background-image: url(img/background-1789175_960_720.png)}
main{
	width: 1000px;
	height: 944px;
	margin: auto;
	background-color:hsla(269,89%,15%,0.95);}
header{
	height: 200px;
	width: 1000px;
}
header img{
	float: left;
}
#header{
	margin: auto;

	font-family:  "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
ul, ol{
	list-style: none;		
}
.nav .op{
	margin-top: 50px;
	margin-left: 50px;
}
.nav li a{	
	font-family: 'Lobster', cursive;
	font-size: 30px;
	color: gold;
	text-decoration: none;
	padding: 0px;
	display: block;
}
.nav li a:hover{
	color:#fff;
	transition-duration: 0.7s;
}
.nav > li{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover > ul{
	display: block;
}
.nav li ul li{
	position: relative;
    right: -10px;
}
.nav li ul li ul{
	right: -140px;
	top: 0px;
}
article{
	height: 600px;
	width: 1000px;
	margin-top: -50px;
}

article img{
	float: left;
	background-color:hsla(0,0%,100%,0.80);
	border-radius: 50px;
	margin-top: 1.5em;
}
hr{
	margin-top: -25px;
}
footer{
	font-size: 18px;
	width: 1000px;
    height: 169px;
	margin-top: -21px;
	background-color: hsla(0,0%,0%,0.71);}
h3{
	color: aliceblue;
}
#izquierda a{
	text-decoration: none;
	color: aliceblue;
}
#izquierda a:hover{color: red;transition: 0.5s;}
#izquierda ul li{
	display: list-item;
	margin-bottom: 13px;
}
#izquierda{float:left;}
#centro a{
	text-decoration: none;
	color: aliceblue;
}
#centro a:hover{color: red;transition: 0.5s;}
#derecha{float: right;
margin-top: -6em;}
#izquierda{
	margin-top: -0.8em;
	margin-left: 1em;
}
#centro {
	margin-left: 25em;
}
#centro h3{
	padding-top: 0.4em;
}
article h1{
	font-family: 'Bungee Shade', cursive;
	color: aliceblue;
	font-size: 30px;
	padding-left: 1em;
}
#bandera{
	float: right;
	padding-right: 5em;
	width: 377px;
	height: 50px;
}
article section{
	width: 250px;
	height: 250px;
	float: right;
	margin-right: 11em;
}
#chart{
	font-size: 30px;
	color: aliceblue;
}
h4, h5{color: aliceblue;}
ol li{
	list-style-type: none;
	color: aliceblue;
	padding: 5px;
	font-size: 15px;
}
button{
	background-color: #E21f26;
	color: white;
	border-radius: 10px;
	padding: 10px;
	float: right;
	transition: 0.5s;
}
button:hover{color: red; background-color: gold; transition: background 0.5, color 0.5;}
h2{
	color: aliceblue;
}
h5{
	font-size: 20px;
	width: 4em;
}
fieldset{
	border: none;
	width: 20em;
}
input{
	float: right;
}
legend{
	font-size: 20px;
	color: aliceblue;
}